.env
env
azure-pr-review-bot/expertise_index
azure-pr-review-bot/rr_state.json
azure-pr-review-bot/teams_payload.json
gmail-ai-digest/credentials.json
gmail-ai-digest/token.pickle
*.pyc
rr_state.json
teams_payload.json
*.zip
image-processor-aws/lambda_function/package
azure-pr-review-bot/codebase_context_index/
